<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeatSun</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/style.css?<%=Time.now.to_i%>"/>
</head>
<body>
    <header class="header">
        <div class="logo">BeatSun</div>
        <nav class="nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/beats">Your Beats</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
        <p>Welcome, <%= username %>!</p>
    </header>

    <main class="main">
        <section class="hero">
            <h1>Upload and Share Your Beats!</h1>
            <a href="/uploads">Upload a Beat</a>
        </section>


        <section class="featured">
            <div class="container">
                <h2>Featured Beats</h2>
                <div class="beat-grid">
                <% @beats.each do |beat| %>
                    <div class="beat-card">
                        <h3><%= beat['name'] %></h3>
                        <p><strong>Artist:</strong> <%= beat['artist'] %></p>
                        <p><strong>Genre:</strong> <%= beat['genre'] %></p>
                        <p><strong>Key:</strong> <%= beat['key'] %></p>
                        <p><strong>BPM:</strong> <%= beat['bpm'] %></p>
                        <audio controls>
                            <source src="<%= beat['filepath'] %>" type="audio/mpeg">
                        </audio>
                    </div>
                <% end %>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 BeatSun. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>