<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Uploaded Beats - Beatsun</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"/>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="logo"><a href="/" class="logo-link">Beatsun</a></div>
            <nav class="nav">
                <ul>
                    <li><a href="/admin">Home</a></li>
                    <li><a href="/uploads">Upload</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main">
        <section class="uploaded-beats">
            <div class="container">
                <h2>My Uploaded Beats</h2>
                <div class="uploaded-beat-grid">
                    <% @beats.each do |beat| %>
                        <% if @user['username'] == beat['artist']%>
                            <div class="uploaded-beat-card">
                                <h3><%= beat['name'] %></h3>
                                <p><strong>Artist:</strong> <%= beat['artist'] %></p>
                                <p><strong>Genre:</strong> <%= beat['genre'] %></p>
                                <p><strong>Key:</strong> <%= beat['key'] %></p>
                                <p><strong>BPM:</strong> <%= beat['bpm'] %></p>
                                <p><strong>Price:</strong> $<%= beat['price'] %></p>
                                <audio controls>
                                    <source src="<%= beat['filepath'] %>" type="audio/mpeg">
                                </audio>
                                <form action="/beats/<%=beat['id']%>/edit">
                                    <input class="uploaded-beat-edit-btn" id="edit" type="submit" value="Edit">
                                </form>
                                
                                <form action="/beats/<%=beat['id']%>/delete" method="post">
                                    <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
                                    <input class="uploaded-beat-delete-btn" id="delete" type="submit" value="Delete">
                                </form>
                            </div>
                        <% elsif @user['admin'] == 1%>
                            <div class="uploaded-beat-card">
                                <h3><%= beat['name'] %></h3>
                                <p><strong>Artist:</strong> <%= beat['artist'] %></p>
                                <p><strong>Genre:</strong> <%= beat['genre'] %></p>
                                <p><strong>Key:</strong> <%= beat['key'] %></p>
                                <p><strong>BPM:</strong> <%= beat['bpm'] %></p>
                                <p><strong>Price:</strong> $<%= beat['price'] %></p>
                                <audio controls>
                                    <source src="<%= beat['filepath'] %>" type="audio/mpeg">
                                </audio>
                                <form action="/beats/<%=beat['id']%>/edit">
                                    <input class="uploaded-beat-edit-btn" id="edit" type="submit" value="Edit">
                                </form>
                                
                                <form action="/beats/<%=beat['id']%>/delete" method="post">
                                    <input type="hidden" name="authenticity_token" value="<%= session[:csrf] %>">
                                    <input class="uploaded-beat-delete-btn" id="delete" type="submit" value="Delete">
                                </form>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                <h2>Your Purchased Beats</h2>

                <% if @common.any? %>
                  <div class="beat-grid">
                    <% @common.each do |beat| %>
                      <div class="beat-card">
                        <h3><%= beat['name'] %></h3>
                        <p><strong>Artist:</strong> <%= beat['artist'] %></p>
                        <p><strong>Genre:</strong> <%= beat['genre'] %></p>
                        <p><strong>BPM:</strong> <%= beat['bpm'] %></p>
                        <p><strong>Key:</strong> <%= beat['key'] %></p>
                        <audio controls>
                          <source src="<%= beat['filepath'] %>" type="audio/mpeg">
                        </audio>
                      </div>
                    <% end %>
                  </div>
                <% else %>
                  <p>You haven't purchased any beats yet.</p>
                <% end %>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer">
        <div class="container">
            <p>&copy; 2025 Beatsun. All Rights Reserved.</p>
        </div>
    </footer>
</body>
</html>
